---
import { getCollection } from 'astro:content';
import Layout from '@theme/layouts/Layout.astro'
import { uniqueGenres } from '@lib/utils';
import SiteHero from '@theme/components/SiteHero.astro';
import Paginator from '@theme/components/Paginator.astro';
import MusicPlaylistPreview from '@theme/components/playlist/Preview.astro';
import * as site from '@settings';


export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection('mixes');
  const sortedPosts = posts.sort((a, b) => {
    return b.data.date.localeCompare(a.data.date);
  });

  return paginate(sortedPosts, { pageSize: site.blog.pageSize });
}

const { page } = Astro.props;
const genres = await getCollection('mixes').then(posts => {
  return uniqueGenres(posts.map(({ data }) => data) as any);
});
---


<Layout title={site.title}>
  <SiteHero />
  <div class="w-full py-12 bg-light-accent dark:bg-dark-accent">
    <ul class="flex justify-center text-white text-l">
      {genres.map(genre => <li class="px-4">{genre}</li> )}
    </ul>
  </div>

  <div class="container mx-auto">
    <section class="pb-20 pt-12">
      {page.lastPage !== 1 && <Paginator page={page} path="/mixes" />}
    </section>

    <section class="grid md:grid-cols-1 lg:grid-cols-1 gap-6">
      {page.data.map(({data, slug}: any) =>
        <MusicPlaylistPreview post={data} slug={slug} />
      )}
    </section>
  </div>
</Layout>
