---
import { CollectionEntry, getCollection } from 'astro:content';
import Page from '@layouts/Page.astro'
import ClientPostLoader from '@components/ClientPostLoader.svelte';
import MixEditor from '@components/editor/MixEditor.svelte';
import Schema from '@components/MusicPlaylistSchema.astro'
import * as settings from '@settings';
import MenuBar from '@theme/components/MenuBar.svelte';
import Tracks from '@theme/components/playlist/Tracks.svelte';
import Controls from '@theme/components/playlist/Controls.svelte';
import MusicPlaylist from '@theme/layouts/MusicPlaylist.svelte';
import { PostController } from '@lib/PostController';
import { Stellarsonic } from '@lib/media/Stellarsonic';

export async function getStaticPaths() {
  const docs = await getCollection('mixes')
  return docs.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<'mixes'>;
}

const isDev = import.meta.env.MODE === 'development';
const { entry } = Astro.props;
const { Content } = await entry.render();
const col = new PostController('mixes');

Stellarsonic.cachePost('mixes', entry.slug, entry.data);
---

<Page>
  <Fragment slot="head-bottom">
    <Schema {...entry.data as any} />
    <title>{entry.data.title}</title>
  </Fragment>

  <!--<ClientPostLoader collection="mixes" slug={entry.slug} client:only/>-->

  {isDev ?
    <MixEditor slug={entry.slug} assets={col.getAssetPaths(entry.slug)} client:only>
      <MusicPlaylist slug={entry.slug} client:load>
        <Tracks slot="tracks" client:only />
        <Controls slot="controls" client:only />
        <MenuBar settings={settings} slot="menu" />

        <Fragment slot="article">
          <Content/>
        </Fragment>
      </MusicPlaylist>
    </MixEditor>
  :
    <MusicPlaylist slug={entry.slug}>
      <Tracks slot="tracks" client:only />
      <Controls slot="controls" client:only />
      <MenuBar settings={settings} slot="menu" />

      <Fragment slot="article">
        <Content/>
      </Fragment>
    </MusicPlaylist>
  }
</Page>
