---
import { getCollection } from 'astro:content';
import Index from '@theme/layouts/index.astro';
import Page from '@layouts/Page.astro';
import HomeEditor from '@components/editor/HomeEditor.svelte';
import * as settings from '@settings';
import SiteHero from '@theme/components/SiteHero.svelte';
import SettingsLoader from '@components/SettingsLoader.svelte';

const posts = await getCollection('mixes');
const sortedPosts = posts.sort((a, b) => {
  //return b.data.date.localeCompare(a.data.date);
  return 1;
});
const isDev = import.meta.env.MODE === 'development';
---

<Page>
  <Fragment slot="head-bottom">
    <title>{settings.title}</title>
  </Fragment>

  <SettingsLoader settings={settings} client:load/>

  {isDev ?
    <HomeEditor settings={settings} client:only>
      <Index posts={sortedPosts}>
        <SiteHero slot="header" client:load/>
      </Index>
    </HomeEditor>
  :
    <Index posts={sortedPosts}>
      <SiteHero slot="header"/>
    </Index>
  }
</Page>
