---
import { getCollection } from 'astro:content';
import Page from '@layouts/Page2.astro';
import * as settings from '@settings';
import Index from '@theme/index.svelte';
import PostFeatured from '@theme/PostFeatured.svelte';
import MenuBar from '@theme/MenuBar.svelte';
import { getSitemap } from '@lib/server';
import EditorLoader from '@components/EditorLoader.svelte';

const posts = await getCollection('mixes');
const sortedPosts = posts.sort((a, b) => {
  //return b.data.date.localeCompare(a.data.date);
  return 1;
});
const [featured, ...rest] = sortedPosts;
const sitemap = await getSitemap();

---

<Page editor="site" editorProps={{data: settings, sitemap}}>
  <Fragment slot="head-bottom">
    <title>{settings.title}</title>
  </Fragment>

  <Fragment slot="editor">
    <EditorLoader module="site" props={{data: settings, sitemap}} client:only />
  </Fragment>

  <Index>
    <!--<MenuBar slot="header" settings={settings} client:load/>-->
    <PostFeatured slot="featured" collection={featured.collection} post={featured.data} slug={featured.slug}/>
    <!--
    <Fragment slot="mixes">
      {rest.slice(0, 3).map(({data, slug}: any) =>
        <PostPreview collection="mixes" post={data} slug={slug}/>
      )}
    </Fragment>
    -->
    </Index>
</Page>
