---
import { getCollection } from 'astro:content';
import Page from '@layouts/Page.astro'
import BlogTheme from '@theme/Blog.svelte';
import PostPreview from '@theme/PostPreview.svelte';
import SiteHero from '@theme/SiteHero.svelte';
import { Blog } from './blog.server';
import Paginator from '@theme/common/Paginator.svelte';
import { Page as AstroPage } from 'astro';

interface Props extends Blog {
  page: AstroPage;
}

const config = Astro.props;
const { collection, pagination, page, path } = config;

const posts = await getCollection(collection as any);
---

<Page editor="blog" editorProps={{...config, posts}}>
  <Fragment slot="head-bottom">
    <title>{config.title}</title>
  </Fragment>

  <BlogTheme genres={[]} client:load>
  <!--
    <SiteHero slot="header"/>

-->
    {pagination && <Paginator slot="paginator" page={page} path={path}/>}

    <Fragment slot="posts">
      {page.data.map(({data, slug}: any) =>
        <PostPreview collection={collection} post={data} slug={slug} url={`/${path}/${slug}`} />
      )}
    </Fragment>
  </BlogTheme>
</Page>
