---
import { getCollection } from 'astro:content';
import Page from '@layouts/Page.astro'
import BlogTheme from './blog.svelte';
import { Blog } from './blog.server';
import { Page as AstroPage } from 'astro';
import { BlogPage } from './blog';
import theme from '@theme/index';

interface Props {
  settings: Blog;

  page: AstroPage;
}

const { settings, page } = Astro.props;
const isDev = import.meta.env.MODE === 'development';

const blogPage: BlogPage = {
  title: settings.title,
  url: `/${settings.path}`,
  posts: page.data.map(({slug, data, collection}) => ({
    slug, url: `/${settings.path}/${slug}`, data, collection
  })),
  theme: {},
  currentPage: page.currentPage,
  start: page.start,
  end: page.end,
  total: page.total,
  size: page.size,
  lastPage: page.lastPage,
}

const themeSettings = theme.modules.blog;
const style = {
  layout: 'alternate',
}

const posts = await getCollection(settings.posts.collection as any);
---

<Page editor="blog" editorProps={{posts, settings, themeData: style}}>
  <Fragment slot="head-bottom">
    <title>{settings.title}</title>
  </Fragment>

  {isDev || themeSettings.client
    ? <BlogTheme page={blogPage} blogData={settings} themeData={style} client:load />
    : <BlogTheme page={blogPage} blogData={settings} themeData={style} />
  }
</Page>
