---
import { Entity, MountConfig } from '@lib/interfaces';
import { getSitemap } from '@lib/server';
import { CollectionEntry } from 'astro:content';
import PageLayout from '@layouts/Page.astro'
import EditorLoader from '@components/editor/EditorLoader.svelte';
import Schema from '@components/Schema.astro';
import { CollectionController } from '@lib/CollectionController';
import type { Page, Template } from "src/content/config";
import site from '@settings';

interface Props extends MountConfig {
  Component: any;

  entry: CollectionEntry<any>;

  title: string;

  page: Entity<Page>;

  template: Entity<Template>;

  module?: string;
}

const { Component, entry, title, page, template, module, schema, editor, props } = Astro.props;
const sitemap = await getSitemap();
const { Content } = await entry.render();
const entity = CollectionController.makeEntity(entry);
const isDev = import.meta.env.MODE === 'development';
---

<PageLayout state={{page, template, content: entity, site}} sitemap={sitemap}>
  <Fragment slot="head-bottom">
    <Schema data={schema}/>
    <title>{title}</title>
  </Fragment>

  <Fragment slot="content-editor">
    { module && <EditorLoader module={module} props={editor} client:only /> }
  </Fragment>

  <Component entity={entity} page={page} template={template} site={site} edit={isDev} {...(props || {}) }>
    <article class="article-body">
      <Content/>
    </article>
  </Component>
</PageLayout>
