---
import Controls from './PreviewControls.svelte';
import PreviewPlayButton from './PreviewPlayButton.svelte';

export interface Props {
  post: any;
}
const { post } = Astro.props;

const date = new Date(post.date).toDateString();
---

<div class="w-full overflow-hidden blog-post-preview">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 py-12">
    <div class="text-right px-20">
      <time class="text-sm p-2 text-slate-600" style="border-bottom: 1px solid #00000012">{date}</time>
      <ul class="flex justify-end">
        {post.genres.map((genre: any) => <li class="px-1 py-2 mt-2 text-xs text-accent">{genre}</li>)}
      </ul>
    </div>
    <div class="w-full px-20 md:pl-0 lg:px-0">
      <a href={post.url} class="block relative aspect-square shadow-lg">
        <img class="absolute w-full h-full object-cover" src={post.image} alt=""/>
      </a>
    </div>
    <div class="px-20 py-6 lg:py-0 md:col-span-2">
      <div class="flex">
        <PreviewPlayButton client:only playlist={post} />
        <div>
          <h1 class="text-slate-600 text-2xl">{post.title}</h1>
          <h2 class="text-l text-accent">{post.subtitle}</h2>
        </div>
      </div>
      <p class="text-xs py-6 opacity-60">{post.description}</p>
      <Controls client:only playlist={post} />
    </div>
  </div>
</div>

<style>
  body {
    font-family: 'Raleway', sans-serif;
  }
  .blog-post-preview:nth-child(even) {
    background: white;
  }
</style>
