---
import Controls from './PreviewControls.svelte';

export interface Props {
  post: any;
}
const { post } = Astro.props;

const overlayStyle = `--tw-gradient-to: ${post.colors[0]}`;
const fgColor = `color: ${post.colors[1]}`;
const bgColor = `background: ${post.colors[0]}`;

const date = new Date(post.date).toDateString();
---

<div class="w-full overflow-hidden">
  <div class="grid grid-cols-2 md:grid-cols-4 py-6">
    <div class="text-right p-2">
      <time class="text-xs p-2" style="border-bottom: 1px solid #00000012">{date}</time>
      <ul class="flex justify-end">
        {post.genres.map((genre: any) => <li class="px-1 py-2" style="font-size: 10px; color: #d77f7a;">{genre}</li>)}
      </ul>
    </div>
    <a href={post.url} class="relative aspect-square shadow-md" style="border: 5px solid white">
      <img class="absolute w-full h-full object-cover" src={post.image} alt=""/>
    </a>
    <div class="p-2 col-span-2">
      <h1 class="text-black text-xl">{post.title}</h1>
      <h2 class="text-white text-sm" style={fgColor}>{post.subtitle}</h2>
      <Controls client:only playlist={post} />
    </div>

  </div>
</div>

<style>
  body {
    font-family: 'Raleway', sans-serif;
  }
</style>
