---
export interface Props {
  post: any;
}
const { post } = Astro.props;

const overlayStyle = `--tw-gradient-to: ${post.colors[0]}`;
const fgColor = `color: ${post.colors[1]}`;
const bgColor = `background: ${post.colors[0]}`;

const bgStyle=`background: url(${post.image}) 50% 50% / cover no-repeat; opacity: 0.04; transform: scaleX(-1);`

---

<div class="w-full relative" style={bgColor}>
  <div class="w-full h-full absolute" style={bgStyle}></div>

  <div class="relative container mx-auto px-12 py-20">
    <div class="py-12 mb-10">
      <h1 class="text-white text-6xl">Stellarsonic</h1>
      <h2 class="text-white text-xl">A record blog</h2>
    </div>

    <div class="grid grid-cols-4">
    <article class="shadow-md overflow-hidden relative aspect-square" style="padding-bottom: 100%">
      <img class="absolute w-full h-full object-cover" src={post.image} alt=""/>
    </article>
    <a href={post.url} class="col-span-3">
      <div class="w-full bottom-0 h-32">
        <div class="grid grid-cols-3 h-full pb-4">
          <div class="col-span-2 text-white px-6 py-4">
            <h1 class="text-3xl">{post.title}</h1>
            <h2 class="text-md" style={fgColor}>{post.subtitle}</h2>
          </div>
          <div class="text-white p-6 text-xs" style="border-left: 1px solid #FFFFFF30">
            <span>45m</span>
          </div>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>

<style>
  body {
    font-family: 'Raleway', sans-serif;
  }
</style>
