---
import Controls from './playlist/PreviewControls.svelte';
//import PreviewPlayButton from '../PreviewPlayButton.svelte';

export interface Props {
  post: any;
}
const { post } = Astro.props;
---

<div class="container mx-auto">
  <div class="w-full overflow-hidden mb-20">
    <div class="grid grid-cols-12 grid-rows-6 py-12">
      <div class="col-start-1 col-end-8 row-start-1 row-end-7">
        <a href={post.url} class="block relative aspect-square">
          <img class="absolute w-full h-full object-cover" src={post.frontmatter.image} alt=""/>
        </a>
      </div>
      <div class="bg-white row-start-2 row-end-6 col-start-7 col-end-13 z-10 p-20 relative">
        <span class="material-symbols-outlined absolute top-0 right-0 p-8">
          graphic_eq
        </span>
        <h1 class="text-6xl">{post.frontmatter.title}</h1>
        <h2 class="text-xl text-accent">{post.frontmatter.subtitle}</h2>
        <p class="text-lg block mt-12">{post.frontmatter.description}</p>
        <a class="block mt-12 p-8" href={post.url} style="border: 1px solid #00000020">Read more</a>
      </div>
    </div>
  </div>
</div>

<style>
  h1 {
    font-family: 'Cinzel', serif;
  }
  p, a {
    font-family: 'Roboto', serif;
  }
</style>
