---
import { CollectionEntry, getEntry } from 'astro:content';
import Page from '@layouts/Page2.astro';
import EditorLoader from '@components/EditorLoader.svelte';
import { getServerModules } from '@lib/server';
import Schema from '@components/Schema.astro';

interface Props {
  entry: CollectionEntry<'containers'>;
}

const { entry } = Astro.props;
  
const ref = await getEntry(entry.data.collection as any, entry.data.entry);
const modules = getServerModules();
const {Component, jsonld, editorProps} = modules[entry.data.type] as any;
---

<Page>
  <Fragment slot="head-bottom">
    <Schema data={jsonld(ref)}/>
    <title>{ref.data.title}</title>
  </Fragment>

  <Fragment slot="editor">
    <EditorLoader module="container" props={{data: entry.data}} client:only>
      <EditorLoader module={entry.data.type} props={editorProps(ref)} client:only />
    </EditorLoader>
  </Fragment>

  <Component entry={ref} />
</Page>
