---
import * as site from '@settings';
import ArchiveEditor from '@components/editor/ArchiveEditor.svelte';
import SettingsLoader from '@components/SettingsLoader.svelte';
import Page from '@layouts/Page.astro'

interface Props {
  collection: string;

  posts: any[];
}

const { collection, posts } = Astro.props;

const isDev = import.meta.env.MODE === 'development';
const pageTitle = `Mixtapes | ${site.title}`
---

<Page>
  <Fragment slot="head-bottom">
    <title>{pageTitle}</title>
  </Fragment>

  <SettingsLoader settings={site} client:load/>

  {isDev ?
    <ArchiveEditor collection={collection} pageTitle={pageTitle} slugs={posts.map(p => p.slug)} client:only>
      <slot/>
    </ArchiveEditor>
  :
    <slot/>
  }
</Page>
