---
import Editor from "@components/editor/Editor.svelte";
import Main from '@components/Main.svelte';

const { isDev, state, modules } = Astro.props;
---

{isDev ?
  <body>
    <Editor state={state} modules={modules} client:only>
      <slot name="content-editor" slot="content-editor"/>
      <Main slot="preview" template={state.template} palette={state.palette} client:load>
        <slot/>
      </Main>
    </Editor>
  </body>
:
  <body>
    <Main template={state.template} palette={state.palette}>
      <slot/>
    </Main>
  </body>
}
