---
import Layout from './Layout.astro';
//import AudioPlayer from '../components/AudioPlayer.svelte';
import Track from '../components/Track.svelte';
//import Container from "../components/Container.astro";
import Schema from '../components/MusicPlaylistSchema.astro';
const { frontmatter: playlist } = Astro.props;
const { headline, datePublished, track, image } = playlist

const bgStyle=`background: url(${image}) 50% 50% / cover no-repeat; opacity: 0.05; transform: scaleX(-1); height: 350px;`
---

<Layout title="Test">
  <Fragment slot="head-bottom">
    <Schema {...playlist} />
  </Fragment>
  <div class="w-full" style="background: #291025; height: 350px">
    <div class="w-full bg-fixed fixed" style={bgStyle}>
    </div>
  </div>

  <article class="bg-slate-100 relative">
    <div class="container mx-auto px-4 pt-12">
      <div class="grid grid-cols-12">
        <div class="col-span-5"></div>
        <div class="col-span-7 p-12 text-white text-3xl" style="margin-top: -200px;">{headline}</div>
      </div>
      <div class="grid grid-cols-12 pb-12">
        <div class="md:col-span-5 col-span-12 bg-white rounded-md overflow-hidden z-10" style="box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.32); margin-top: -300px">
          <div class="relative" style="padding-bottom: 100%">
            <img class="absolute w-full h-full object-cover" src={image} alt=""/>
          </div>
          <ul class="divide-y divide-slate-400/25">
            {track.map((track: any, index: number) =>
              <Track client:load playlist={playlist} track={index} />
            )}
          </ul>
        </div>
        <div class="md:col-span-7 sm:col-span-12 xs:col-span-12 p-12">
          <section><slot/></section>
        </div>
      </div>
    </div>
  </article>
</Layout>
