---
import Layout from './Layout.astro';
//import AudioPlayer from '../components/AudioPlayer.svelte';
import Track from '../components/Track.svelte';
//import Container from "../components/Container.astro";
import Schema from '../components/MusicMixSchema.astro';
import { MusicMix } from '../lib/interfaces';
import Controls from '../components/Controls.svelte';
//import { MixAudioPlayer } from '../lib/AudioPlayer';

export interface Props {
  frontmatter: MusicMix;
}

const { frontmatter: playlist } = Astro.props;
const { title, subtitle, image, tracks, genres, colors } = playlist
const bgColor = `background: ${colors[0]}`;
const fgColor = `color: ${colors[1]}`;

//const player = new MixAudioPlayer(playlist);

const bgStyle=`background: url(${image}) 50% 50% / cover no-repeat; opacity: 0.04; transform: scaleX(-1); height: 100vh`
---

<Layout title="Test">
  <Fragment slot="head-bottom">
    <Schema {...playlist} />
  </Fragment>

  <div style={bgColor} class="text-white">
    <div class="w-full bg-fixed fixed" style={bgStyle}>
    </div>
    <div style="backdrop-filter: blur(4px);">

    <div class="container mx-auto p-12">
      <section class="text-white">
        <h1 class="text-5xl">{title}</h1>
        <h2 class="text-xl" style={fgColor}>{subtitle}</h2>
      </section>
    </div>
    <section class="container mx-auto p-12">
      <div class="grid grid-cols-3 gap-4">
        <div class="col-span-3 md:col-span-1">
          <div class="shadow-lg rounded-md overflow-hidden relative aspect-square" style="padding-bottom: 100%">
            <img class="absolute w-full h-full object-cover" src={image} alt=""/>
          </div>
          <div class="mt-8">
            <Controls client:only playlist={playlist} />
            <!-- 
            <ul class="flex">
              {genres.map(genre => <li class="text-xs p-2" style={fgColor}>{genre}</li>)}
            </ul>
          -->
          </div>
        </div>
        <div class="col-span-3 md:col-span-2">
          <ul class="divide-y divide-slate-400/25 columns-2">
            {tracks.map((track, index) =>
              <Track client:only playlist={playlist} track={index} />
            )}
          </ul>
        </div>
      </div>
    </section>
    </div>
  </div>

  <div class="bg-slate-200 relative">
    <div class="container mx-auto p-12">
      <div class="grid grid-cols-3 gap-4">
        <div></div>
        <div class="p-12 article col-span-2">
          <slot/>
        </div>
      </div>
    </div>
  </div>
</Layout>


<style>
  .article {
    font-family: 'Roboto', sans-serif;
  }
</style>
