---
import Layout from './Layout.astro';
//import Container from "../components/Container.astro";
///import ArticleSchema from '../components/ArticleSchema.astro';
const { frontmatter: {headline, datePublished, track, image} } = Astro.props;
---

<Layout title="Test">
  <article class="bg-slate-100">
    <div class="container mx-auto px-12 pt-12">

      <div class="grid grid-cols-12 pb-12">
        <div class="col-span-5 bg-white rounded-lg overflow-hidden z-10" style="box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.32);">
          <div class="relative" style="padding-bottom: 100%">
            <img class="absolute w-full h-full object-cover" src={image} alt=""/>
          </div>
          <ul class="divide-y-2 divide-slate-400/25">
            {track.map(({byArtist, name, copyrightYear}: any) =>
              <li class="p-4 text-sm">
                <a class="mt-2 px-2" href="#">
                  <span class="material-symbols-outlined">play_arrow</span>
                </a>
                <span>{byArtist} - {name} ({copyrightYear})</span>
              </li>
            )}
          </ul>
        </div>
        <div class="col-span-7 p-12">
          <h1 class="text-3xl font-bold pb-12">{headline}</h1>
          <section><slot/></section>
        </div>
      </div>
    </div>
  </article>
</Layout>
