---
import Body from "./Body.astro";
import Fonts from "@components/Fonts.svelte";

const { template } = Astro.props;

const isDev = import.meta.env.MODE === 'development';
---

<!DOCTYPE html>
<html lang="en" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;600&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
    {isDev ? <Fonts template={template} client:load/> : <Fonts template={template} /> }
    <slot name="head-bottom" />
	</head>
  <Body isDev={isDev} template={template}>
    <slot name="editor" slot="editor" />
    <slot/>
  </Body>
</html>

<style is:global>
  .font-editor {
    font-family: 'Roboto', serif;
    font-weight: 200;
  }
  /*
  .site-title {
    font-family: 'Dancing Script', cursive;
  }
  .font-title {
    font-family: 'Cinzel', serif;
  }
  .font-primary {
    font-family: 'Roboto', serif;
  }
  */
  .article p {
    padding: 20px 0;
    /*font-family: 'Roboto', serif;*/
  }
  .article h1 {
    /*font-family: 'Cinzel', serif;*/
  }
  .article p:first-child {
    padding-top: 0;
  }
  .article img {
    padding: 30px 0;
  } 
  .font-text {
    /*font-family: 'Raleway';*/
  }
  .edit-page-preview .h-screen {
    height: calc(100vh - 2rem);
  }

  .edit-page-preview .w-screen {
    width: calc(100vw - 512px - 1.9rem);
  }
</style>
