---
import { CollectionEntry } from 'astro:content';
import Page from '@layouts/Page.astro'
import PostEditor from '@components/editor/PostEditor.svelte';
import Schema from '@components/Schema.astro'
import { PostController } from '@lib/PostController';

interface Props {
  collection: string;

  entry: CollectionEntry<any>;
}

const isDev = import.meta.env.MODE === 'development';
const { entry, collection } = Astro.props;
const col = new PostController(collection);
---

<Page>
  <Fragment slot="head-bottom">
    <Schema post={entry.data} collection={entry.collection} />
    <title>{entry.data.title}</title>
  </Fragment>

  {isDev ?
    <PostEditor collection={collection} slug={entry.slug} data={entry.data} assets={col.getAssetPaths(entry.slug)} client:only>
      <slot/>
    </PostEditor>
  :
    <slot/>
  }
</Page>
